.about {
    display: flex;
    justify-content: center;
    padding-top: 137px;
    padding-bottom: 79px;
}

.aboutTextAndLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(42, 42, 42, 0.9)), url("../assets/backgroundAboutText1.svg");
    border-radius: 44px;
    background-repeat: no-repeat;
    width: 1540px;
    height: 1590px;
    padding: 31px 102px;
}

.aboutTextAndLogo p {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
}