.backgroundImage {
    background-image: url('../assets/backgroundImageAboutCompany.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    display: flex;
    justify-content: center;
    padding-top: 137px;
    padding-bottom: 79px;
}

.aboutTextAndLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(42, 42, 42, 0.9)), url("../assets/backgroundAboutText1.svg");
    border-radius: 44px;
    background-repeat: no-repeat;
    max-width: 1540px;
    height: 1590px;
    padding: 31px 102px;
}

.aboutTextAndLogo p {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
}

@media (max-width: 1600px) {
    .about {
        padding-left: 33px;
        padding-right: 33px;
    }

    .aboutTextAndLogo p {
        font-size: 32px;
    }

    .aboutTextAndLogo {
        width: 1540px;
        height: 100%;
        /* min-height: 957px; */
        padding: 31px 64px;
        gap: 36px;
        justify-content: flex-start;
    }
}

@media (max-width: 1030px) {
    .about {
        padding-top: 40px;
    }

    .aboutTextAndLogo p {
        font-size: 20px;
    }

    .aboutTextAndLogo img {
        display: none;
    }
}

@media (max-width: 500px) {
    .about {
        padding-top: 40px;
    }

    .aboutTextAndLogo p {
        font-size: 20px;
    }

    .aboutTextAndLogo {
        border-radius: 0;
        background-size: cover;
        background-image: linear-gradient(rgba(42, 42, 42, 0.9)), url("../assets/backgroundMobileAbout.svg");
    }

    .about {
        padding: 0;
    }
}