.backgroundImage {
  background-image: url("../assets/backgroundImageAboutCompany.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  display: flex;
  justify-content: center;
  padding: 137px 33px 79px;
}

.aboutTextAndLogo {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  max-width: 1540px;
  padding: 31px 102px;
  border-radius: 44px;
}

/* Фоновая картинка */
.bg {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: 0;
}

/* Затемнение */
.aboutTextAndLogo::before {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(42, 42, 42, 0.9);
  z-index: 1;
}

/* Контент поверх фона */
.aboutTextAndLogo > *:not(.bg) {
  position: relative;
  z-index: 2;
}

.aboutTextAndLogo p {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
}

.aboutTextAndLogo div {
  width: 100%;
}


/* Адаптив */
@media (max-width: 1030px) {
  .about {
    padding-top: 40px;
  }

  .aboutTextAndLogo p {
    font-size: 20px;
  }

  .aboutTextAndLogo img:not(.bg) {
    display: none;
  }
}

@media (max-width: 500px) {
  .aboutTextAndLogo {
    border-radius: 0;
    padding: 24px;
  }

  .about {
    padding: 0;
  }
}
