.background {
    position: relative;
    overflow: hidden;
    background-color: rgba(27, 27, 27, 0.6);
}

.bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* ВАЖНО */
    
}



.homeText {
    display: flex;
    width: 1180px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 200px 0px 328px 105px;
    gap: 40px;
}

.homeText h1 {
    font-family: "zinco_blackcondensed", sans-serif;
    font-size: 85px;
    color: white;
    line-height: 91%;
    /* height: 240px; */
}

.homeText p {
    font-family: "Mulish", sans-serif;
    font-size: 29px;
    color: white;
    font-weight: 600;
    /* width: 1188px; */
}

.backgroundSecond {
    background-image: url('../assets/backgroundHomeSecond.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 85px 120px;
}

.backgroundSecondFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 940px;
}

.backgroundSecondFlex p {
    font-family: "Mulish", sans-serif;
    font-size: 32px;
    color: rgba(42, 42, 42, 1);
}

.logoSize {
    width: auto;
    height: 400px;
}

.logoSizeWithText {
    width: auto;
    height: 163px;
    object-fit: contain;
}

@media (max-width: 1300px) {
    .homeText {
        width: 100%;
        padding: 148px 0 209px 57px;
    }
    .homeText h1 {
        font-size: 70px;
    }

    .homeText p {
        font-size: 20px;
    }

    .backgroundSecond {
        padding: 77px 57.5px;
    }

    .backgroundSecondFlex {
        width: 575px;
    }

    .logoSizeWithText {
        width: auto;
        height: 101px;
    }

    .backgroundSecondFlex p {
        font-size: 20px;
    }

    .logoSize {
        width: auto;
        height: 250px;
    }
}

@media (max-width: 940px) {
    .homeText {
        padding: 78px 0 151px 32px;
        gap: 25px;
    }

    .homeText h1 {
        font-size: 50px;
    }

    .homeText p {
        font-size: 15px;
    }

    .backgroundSecond {
        padding: 40px 30px;
    }

    .backgroundSecondFlex {
        width: 480px;
    }

    .logoSizeWithText {
        width: auto;
        height: 82px;
    }

    .logoSize {
        width: auto;
        height: 200px;
    }    
}

@media (max-width: 750px) {
    .homeText {
        padding: 78px 0 151px 32px;
        gap: 25px;
    }

    .homeText h1 {
        font-size: 23px;
    }

    .homeText p {
        font-size: 15px;
        max-width: 400px;
    }

    .backgroundSecond {
        padding: 49px 23px 216px 23px;
    }

    .backgroundSecond p {
        font-size: 16px;
    }

    .backgroundSecondFlex {
        width: 480px;
    }

    .logoSizeWithText {
        width: auto;
        height: 82px;
    }

    .logoSize {
        display: none;
    }    

    .brHide {
        display: none;
    }

    .backgroundSecond {
        background-image: url('../assets/backgroundLogo.svg'), url('../assets/backgroundHomeSecond.svg');
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        height: 100%;
        justify-content: center;
    }
}

@media (max-width: 595px) {

    .backgroundSecondFlex {
        width: 100%;
    }

    .logoSizeWithText {
        width: auto;
        height: 82px;
    }

    .logoSize {
        display: none;
    }    

    .brHide {
        display: none;
    }

    .backgroundSecond {
        background-image: url('../assets/backgroundLogo.svg'), url('../assets/backgroundHomeSecond.svg');
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        height: 100%;
        justify-content: center;
    }
}