/* КНОПКА (капля) */
.floatingButton {
  position: fixed;
  top: 700px;
  right: 100px;
  width: 140px;
  height: 140px;
  cursor: pointer;
  z-index: 1000;
  transition: 0.3s;
}

.floatingButton:hover {
  transform: scale(1.1);
}

.floatingButton img {
  width: 100%;
  height: 100%;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* КОНТЕЙНЕР */
.modal {
  position: relative;
}

/* ФОРМА */
.formCard {
  width: 454px;
  height: 281px;
  background-image: url("../assets/Subtract.svg");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  padding: 0 50px 15px 50px;
  gap: 13px;

  position: relative;
  animation: scaleIn 0.3s ease;
}

/* КРУГ С КАПЛЕЙ */
.arrowRain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;

  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ТЕКСТ */
.title {
  color: white;
  font-family: "zinco_blackcondensedhq", sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

/* INPUT */
.input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: #ffffff;
  padding: 0 14px;
  font-size: 14px;
  outline: none;
  color: #D0D0D0;
}

.input::placeholder {
  color: #D0D0D0; /* нужный цвет */
}

/* BUTTON */
.button {
    width: 138px;
    height: 25px;
  border-radius: 6px;
  border: none;
  background: #e5e5e5;
  color: #2b8fc2;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: #ffffff;
}

/* АНИМАЦИЯ */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1300px) {
    .floatingButton {
        top: 500px;
        right: 60px;
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 940px) {
    .floatingButton {
        top: 350px;
        right: 60px;
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 750px) {
    .floatingButton {
        top: 300px;
        right: 60px;
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 500px) {
    .formCard {
        width: 295px;
        height: 295px;
        background-image: url("../assets/SubtractForMobile.svg");
        padding: 0 20px 15px 20px;
        gap: 17px; 

    }

    .arrowRain {
        left: 51%;
        top: -35px;
        width: 58px;
        height: 58px;
    }
    .input{
        height: 26px;
    }

    .title {
        font-size: 22px;
        padding-bottom: 13px;
    }

    .button {
        margin-top: 13px;
        width: 177px;
        height: 32px;
    }

    .floatingButton {
        top: 350px;
        right: 30px;
        width: 70px;
        height: 70px;
    }
}