.footer {
    background-image: url('../../assets/footer/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 503px;
    display: flex;
    justify-content: space-around;
    padding-top: 53px;
}

.logoWithLocationText {
    display: flex;
    flex-direction: column;
    width: 540px;
    gap: 38px;
}

.logoWithLocationText img {
    height: 134px;
}

.footerTextLocation {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 26px;
}

.footerContactsAndMenu {
    display: flex;
    column-gap: 253px;
}

.footerContacts {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.footerContacts h2 {
    font-size: 26px;
    margin-bottom: 38px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

.footerContacts a {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    color: white;
}

.footerMenu {
    display: flex;
    flex-direction: column;
    gap: 17px;
    color: white;
    font-family: 'Mulish', sans-serif;
}

.footerMenu h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 26px;
    margin-bottom: 38px;
    font-weight: 600;
}

.footerMenuLink {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

@media (max-width: 1300px) {
    .footer {
        background-image: url('../../assets/footer/bg-laptop.png');
        padding-top: 51px;
    }

    .logoWithLocationText {
        width: 360px;
        gap: 29px;
    }

    .logoWithLocationText p {
        font-size: 20px;
    }

    .footerContactsAndMenu {
        gap: 143px;
    }

    .footerContacts {
        gap: 12px;
    }

    .footerContacts h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .footerContacts a {
        font-size: 20px;
    }

    .footerMenu {
        gap: 12px;
    }

    .footerMenu h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .footerMenuLink {
        font-size: 20px;
    }
}

@media (max-width: 940px) {
    .footer {
        padding-top: 51px;
    }

    .logoWithLocationText {
        width: 283px;
    }

    .logoWithLocationText p {
        font-size: 15px;
    }

    .footerContactsAndMenu {
        gap: 143px;
    }

    .footerContacts {
        gap: 12px;
    }

    .footerContacts h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .footerContacts a {
        font-size: 20px;
    }

    .footerMenu {
        gap: 12px;
    }

    .footerMenu h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .footerMenuLink {
        font-size: 20px;
    }

    .footerMenu {
        display: none;
    }
}

@media (max-width: 595px) {
    .footer {
        background-image: url('../../assets/footer/bg-mobile.png');
        height: 100%;
        background-size: 100% auto; 
        background-position: center bottom; 
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 27px;
        padding-top: 20px;
        padding-bottom: 145px;
    }

    .footerTextLocation {
        align-self: center;
        width: 249px;
    }

    .footerContactsAndMenu {
        width: 283px;
    }

    .logoWithLocationText{
        gap: 20px;
    }
} 

@media (max-width: 430px) {
    .footer {
        padding-top: 0;
        padding-bottom: 120px;
    }
}

@media (max-width: 390px) {
    .footer {
        padding-top: 0;
        padding-bottom: 100px;
    }
}