.footer {
    background: rgba(42, 42, 42, 1);
    display: flex;
    justify-content: space-around;
    padding-top: 83px;
}

.logoWithLocationText {
    display: flex;
    flex-direction: column;
    width: 485px;
    gap: 38px;
}

.footerTextLocation {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 26px;
}

.footerContactsAndMenu {
    display: flex;
    column-gap: 253px;
}

.footerContacts {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.footerContacts h1 {
    font-size: 32px;
    margin-bottom: 38px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

.footerContacts a {
    font-family: 'Mulish', sans-serif;
    font-size: 26px;
    color: white;
}

.footerMenu {
    display: flex;
    flex-direction: column;
    gap: 17px;
    color: white;
    font-family: 'Mulish', sans-serif;
}

.footerMenu h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    margin-bottom: 38px;
    font-weight: 600;
}

.footerMenuLink {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 26px;
}

@media (max-width: 1300px) {
    .footer {
        padding-top: 51px;
    }

    .logoWithLocationText {
        width: 360px;
        gap: 29px;
    }

    .logoWithLocationText p {
        font-size: 20px;
    }

    .footerContactsAndMenu {
        gap: 143px;
    }

    .footerContacts {
        gap: 12px;
    }

    .footerContacts h1 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .footerContacts a {
        font-size: 20px;
    }

    .footerMenu {
        gap: 12px;
    }

    .footerMenu h1 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .footerMenuLink {
        font-size: 20px;
    }
}

@media (max-width: 940px) {
    .footer {
        padding-top: 51px;
    }

    .logoWithLocationText {
        width: 283px;
    }

    .logoWithLocationText p {
        font-size: 15px;
    }

    .footerContactsAndMenu {
        gap: 143px;
    }

    .footerContacts {
        gap: 12px;
    }

    .footerContacts h1 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .footerContacts a {
        font-size: 20px;
    }

    .footerMenu {
        gap: 12px;
    }

    .footerMenu h1 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .footerMenuLink {
        font-size: 20px;
    }

    .footerMenu {
        display: none;
    }
}

@media (max-width: 595px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 27px;
    }

    .footerTextLocation {
        align-self: center;
        width: 249px;
    }

    .footerContactsAndMenu {
        width: 283px;
    }
} 